{% extends "gametest/base.html" %}

{% block title %}Game List{% endblock %}

{% block main %}
<ul>
	{% for game in games_list %}
		<li>
			<a href='{% url 'gametest:edit_game' game.game_id %}'>[edit] </a>
			<a href='{% url 'gametest:user_list_game' game.game_id %}'>[add to my games] </a>
			<a href='{% url 'gametest:game_details' game.game_id %}'>{{ game.name }}</a>
		</li>
	{% empty %}
		No games exist
	{% endfor %}
</ul>
<a href='{% url 'gametest:create_game' %}'>Create Game</a>
{% endblock %}
