{% extends "gametest/base.html" %}

{% block title %}Game Details{% endblock %}

{% block content %}

<h2>Game</h2>

{% for field in game_form %}
	<p class='note'>
		<b>{{ field.label }}:</b>
		{{ field.value|default_if_none:'-' }}
	</p>
{% endfor %}

<p class="note">
	<b>Genre:</b>
	{% for genre in genres %}
		{{ genre }}, 
	{% endfor %}
</p>


{% for form in gametypes_forms %}
	<h3>{{ form.instance.type }}</h3>
	<p class='note'>
		{% for field in form %}
			<b>{{ field.label }}:</b>
			{{ field.value|default_if_none:'-' }}
		{% endfor %}
	</p>
{% endfor %}

<h3>Players</h3>
{% if players_list %}
	<ol class='rounded-list'>
		{% for item in players_list %}
			<li><a href="{% url 'userpage:index' item.pk %}">{{ item.user }}</a></li>
			<ol>
				<li><b>Ownership:</b> {{ item.ownership }}</li>
				<li><b>Skill:</b> {{ item.skill }}</li>
				<li><b>Note:</b> {{ item.note }}</li>
			</ol>
		{% endfor %}
	</ol>
{% else %}
	no players
{% endif %}
{% endblock %}
