{% extends "gametest/base.html" %}

{% block title %}Game Details{% endblock %}

{% block content %}

<!-- just a headline -->
{% if boardgame_form %}
	<h2>Board Game</h2>
{% else %}
	<h2>Game</h2>
{% endif %}

<table>
	<thread>
		{% for field in game_form %}
			<th>{{ field.label }}</th>
		{% endfor %}

		{% for form in gametypes_forms %}
			{% for field in form %}
				<th>{{ field.label }}</th>
			{% endfor %}
		{% endfor %}

		<th>Genre</th>
	</thread>
	<tbody>
		<tr>
			{% for field in game_form %}
				<td>{{ field.value|default_if_none:'-' }}</td>
			{% endfor %}

			{% for form in gametypes_forms %}
				{% for field in form %}
					<td>{{ field.value|default_if_none:'-' }}</td>
				{% endfor %}
			{% endfor %}

			<td>
				<ul>
					{% for genre in genres %}
						<li>{{ genre }}</li>
					{% endfor %}
				</ul>
			</td>
	</tbody>
</table>

<h3>Players</h3>
{% if players_list %}
	<li>
		{% for item in players_list %}
			<ul>{{ item.user }}</ul>
		{% endfor %}
	</li>
{% else %}
	no players
{% endif %}
{% endblock %}
