{% extends "groups/base.html" %}

{% block content %}
<h1>Details of {{ group.name}}</h1>

<b>ID: </b> {{ group.pk }}
<br>
<b>Creator: </b>{{ group.creator }}
<br>
<b>Description: </b> {{ group.description }}
<br>
<b>Location: </b>{{ group.area }}
<br>
<br>
<b>Users Joined:</b>
<br>
<ol class="rounded-list">
{% for g in group.usergroup_set.all %}
    {% if g.group_id == group.pk %}
        <li><a href="{% url 'userpage:index' g.user.pk %}">{{ g.user }}</a></li>
    {% endif %}
{% endfor %}
</ol>
<br>
    <ol class="rectangle-list">
<li><a href="{% url 'groups:GroupInstances' group.pk %}">Instances</a></li>
<li><a href="{% url 'groups:CreateInstanceGr' group.pk %}">Create Instance</a></li>
<li><a href="{% url 'groups:GroupBlogposts' group.pk %}">Blogposts</a></li>
<li><a href="{% url 'groups:CreateBlogpost' group.pk %}">Create Blogpost</a></li>
        </ol>
<br>
<br>
<br>
<a class="button1" href="{% url 'groups:join' group.pk %}">JOIN</a>
<br>
    <br>
<a class="button2" href="{% url 'groups:CreateInstance' group.pk %}">Make it an instance</a>
{% endblock %}