<h1>Details of {{ group.name }}</h1>

<b>ID: </b> {{ group.pk }}
<br>
<b>Creator: </b>{{ group.creator }}
<br>
<b>Description: </b> {{ group.description }}
<br>
<b>Location: </b>{{ group.area }}
<br>
<br>
<br>
<br>

--- I am working on this part still
<br>
<b>User Joined:</b>
<br>
{% for g in group.usergroup_set.all %}
    {% if g.group_id == group.pk %}
        {{ g.user }}
        <br>
    {% endif %}
{% endfor %}
{% block body %}
{% endblock %}

<br>
<br>
<br>
<br>

Want to join the group?
<form action="#" method="post" enctype="multipart/form-data">
{% csrf_token %}

<button type="submit">Join</button>
</form>