<h1>Details of {{ group.name }}</h1>

<b>ID: </b> {{ group.pk }}
<br>
<b>Creator: </b>{{ group.creator }}
<br>
<b>Description: </b> {{ group.description }}
<br>
<b>Location: </b>{{ group.area }}
<br>
<br>
<b>Users Joined:</b>
<br>
{% for g in group.usergroup_set.all %}
    {% if g.group_id == group.pk %}
        <li><a href="{% url 'userpage:index' g.user.pk %}">{{ g.user }}</a></li>
    {% endif %}
{% endfor %}
{% block body %}
{% endblock %}

<br>
<br>
Want to join the group?
<br>
<a href="{% url 'groups:join' %}">JOIN</a>
